body {
    margin: 60px auto;
    width: 70%;
    height: 1000px;
    background-color: black; /* For browsers that do not support gradients */
    background-image: linear-gradient(black, white); /* Standard syntax (must be last) */
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: rgb(255, 255, 255);
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

  #about {
    padding-top: 5em;
    position: relative;
    width: 100%;
    height: 100px;
  }
  #block {
    padding-top: 5em;
    position: relative;
    width: 100%;
    height: 100px;
  }

  @keyframes text {
    0%{
      color: #000;
      margin-bottom: -40px;
    }
    30%{
      letter-spacing: 2rem;
      margin-bottom: -40px;
    }
    85%{
      letter-spacing: 0.8rem;
      margin-bottom: -40px;
    }
  }