body {
    height: 100%;
    background-color: rgb(255, 254, 254); /* For browsers that do not support gradients */
    background-image: linear-gradient(black, white); /* Standard syntax (must be last) */
    font-family: 'Times New Roman', Times, serif;
}
 footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    padding-bottom: 10vh;
    text-align:center;
    list-style: none;
    font-weight: bold;
    background-color:black;
    font-size:5em;
}
nav ul{
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  padding-bottom: 15px;
  text-align:center;
  list-style: none;
  font-weight: bold;
  background-color:black;
  padding-top:0px;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color:turquoise;
}
a:hover {
    text-decoration: underline;
}
h1 {
    text-align: center;
    font-size: 1em;
    color:black;
    font-family:'Times New Roman', Times, serif;
}
h2{
  text-align: center;
  color:white;
  font-size: 5em;
}
h3{
  font-size:1em;
  text-align: center;
  color:black;
  font-style:italic;
}
h4{
  font-size: 4em;
  text-align: center;
  color:white;
}
p {
    font-size: 2em;
    line-height: 1.4em;
    color:white;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0vw;
    margin-left: 0vw;
}

.line{
  width: 100vw;
  height: 47px;
  border-bottom: 5px solid turquoise;
  position: relative;
  }

footer {
    border-top: 1px solid #d5d5d5;
    min-height: 5rem;
    font-size: .8em;
}

topnav {
  background-color: green;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #ddd;
color: green;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #4CAF50;
color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
float: right;
}


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img.displayed {
    display: block;
     }

  #about {
    /* padding-top: 5em; */
    position: relative;
    width: 100vw;
    margin-left:-50vw;
    left:50%;
    min-height: 0rem;
    height: 100vh;
    padding-bottom: 5%;
    /* opacity: 0.9; */
    background-color:black;
    padding:100px;
    border-style:solid;
    border-width: 1px;
    border-color:goldenrod;

  }
  #works {
    /* padding-top: 5em; */
    position: relative;
    width: 100vw;
    margin-left:-50vw;
    left:50%;
    min-height: 0rem;
    height: 90vh;
    padding-bottom: 5%;
    /* opacity: 0.9; */
    background-color:black;
    padding:100px;
    border-style:solid;
    border-width: 1px;
    border-color:goldenrod;

  }

  #works_continued {
    /* padding-top: 50vh; */
    position: relative;
    width: 100vw;
    margin-left:-50vw;
    left:50%;
    min-height: 0rem;
    height: 80vh;
    /* opacity: 0.9; */
    background-color:black;
    padding:100px;
    border-style:solid;
    border-width: 1px;
    border-color:goldenrod;

  }
  #extra {
    /* padding-top: 5em; */
    position: relative;
    width: 100vw;
    margin-left:-50vw;
    left:50%;
    min-height: 0rem;
    height: 200vh;
    padding-bottom: 5%;
    /* opacity: 0.9; */
    background-color:black;
    padding:100px;
    border-style:solid;
    border-width: 1px;
    border-color:goldenrod;

  }
  P.blocktext{
    margin-left:auto;
    margin-right:auto;
    width:8em;


  }
  .container {
    height: 200px;
    position: relative;
    border: 3px solid green;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  div.hr {
      border: 0;
      width: 80%;
      color: #f00;
      background-color: #f00;
      height: 5px;
    }

  div.hr hr {
      display: none;
    }
    
  #top-section{
    /* padding-top: 5em; */
    position: relative;
    width: 100vw;
    height: 70vh;
    margin-left: -50vw;
    left:50%;
    min-height: 0rem;
    color:white;
    padding:100px; 
    background:transparent;
    margin-top: 35vh;

  }
  
  .profilepic {
    max-width: 500px;
    max-height: 500px;
  }
  
  #block {
    padding-top: 5em;
    position: relative;
    width: 100vw;
    margin-left: -50vw;
    left:50%;
    min-height: 0rem;
  }

  @keyframes text {
    0%{
      color: #000;
      margin-bottom: -40px;
    }
    30%{
      letter-spacing: 2rem;
      margin-bottom: -40px;
    }
    85%{
      letter-spacing: 0.8rem;
      margin-bottom: -40px;
    }
  }