<!DOCTYPE html>
	<html>
		<div >
		<head>
			<title>
				{{ page.title }}
				
			</title>
			
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body bgcolor="#404040">
			<nav class = "topnav-right">  
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<center>
				{{ content }}
			</center> 
			<img src="images/pfp.jpg">
			</div><!-- /.container -->

  
		<!-- About -->
		<section id='about'>
		  <div class="container text-center" style="background-color:black;color:white;padding:100px;">
				<h2>About me</h2>
				<p class="font-weight-normal mb-5">
					Say something nice hereSay somethign nice here
					Say something nice hereSay somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say something nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
				</p>
		  </div>
		</section>

		<section id='block'>
				<div style="background-color:orange;color:white;padding:20px;">
				<h2>Check out what I have built!</h2>
					<p>
						Say about something inside here
					</p>
				<h2>Check out what I have built!</h2>
					<p>
						Do you know that I am not fucking kidding
					</p>
				<h2>Check out what I have built!</h2>
				</div>
		</section>
		
		<section id='block'>
			<div style="background-color:black;color:white;padding:20px;">
			<h2>Check out what I have built!</h2>
				<p>
					Say about something inside here
				</p>
			<h2>Check out what I have built!</h2>
				<p>
					Do you know that I am not fucking kidding
				</p>
			<h2>Check out what I have built!</h2>
			</div>
	</section>

	<section id='block'>
		<div style="background-color:orange;color:white;padding:20px;">
		<h2>Check out what I have built!</h2>
			<p>
				Say about something inside here
			</p>
		<h2>Check out what I have built!</h2>
			<p>
				Do you know that I am not fucking kidding
			</p>
		<h2>Check out what I have built!</h2>
		</div>
		</section>

		<section id='block'>
			<div style="background-color:black;color:white;padding:20px;">
			<h2>Check out what I have built!</h2>
				<p>
					Say about something inside here
				</p>
			<h2>Check out what I have built!</h2>
				<p>
					Do you know that I am not fucking kidding
				</p>
			<h2>Check out what I have built!</h2>
			</div>
		</section>
			  
			<footer>
	    		<ul>
	        		<li><a href="mailto:zackchen@umich.edu">email: zackchen@umich.edu</a></li>
	        		<li><a href="https://github.com/thuthazack">github.com/thuthazack</a></li>
				<li><a href="https://www.linkedin.com/in/thuta-aung-909a22114">linkedin</a></li>
				</ul>
			</footer>
		</body>
		</div>
	</html>
