<!DOCTYPE html>
	<html lang="en">
			<!-- <nav class = "topnav-right">  
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/cv">CV</a></li>
						<li><a href="/blog">Blog</a></li>
					</ul>
				</nav> -->
		<style>
			
		</style>

			<head>
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
				<title>
					{{ page.title }}
					
				</title>
				
				<!-- link to main stylesheet -->
				<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
				<link rel="stylesheet" type="text/css" href="/css/main.css">

			</head>
			
			<body>
				<center>
					{{ content }}
				</center> 
				

				<div class = "container-fluid" id = 'top-section' >
						<div style="background-color:white;color:white;padding:100px;">
						<section style="background-image: url('../img/coffee.jpeg');background-repeat: no-repeat;
						background-size: cover;position: fixed; top: 0; left: 0; min-width: 100%; min-height: 100%;">
								<h3>Hey</h3>
								<h2 class="mb-5" style="color: black; font-family: 'Times New Roman', Times, serif">
									~I'm Zack~
								</h2>
						</section>
						</div>
				</div>

				
			<!-- About -->
				<div class = "container-fluid" id = 'about'>
					<section>
					<div style="background-color:black;color:white;padding:100px;">
							<h2>My past, my present and my future</h2>
							<p class="font-weight-normal mb-5">
								
				<img class="profilepic img-fluid rounded" src="img/pfp.jpeg" height = "300" width = "400">
								Say something nice hereSay somethign nice here
								Say something nice hereSay somethign nice here
							</p>
					</div>
					</section>
				</div>

				<div class = "container-fluid" id = 'about'>
						<section>
						<div style="background-color:black;color:white;padding:100px;">
								<h2>These are some of my works</h2>
								<p class="font-weight-normal mb-5">
										<h4>Smart Sensor Interface</h4>
										<h4>Fine Spine Align All the Time</h4>
										<h4>Tracking Tripod</h4>
										<h4>Breaking Bad</h4>
								</p>
						</div>
						</section>
				</div>
				

				<div class = "container-fluid" id = 'about'>
						<section>
						<div style="background-color:black;color:white;padding:100px;">
								<h2>More than an engineer...</h2>
								<p class="font-weight-normal mb-5">
									<h4>BridgeBurma</h4>
									<h4>Yet Another Sparkle!</h4>
								</p>
						</div>
						</section>
				</div>
			
				<div class = "container-fluid" id = 'about'>
						<section>
						<div style="background-color:black;color:white;padding:100px;">
								<h2>"Sometimes the more you know, the less you know. Makes you even wonder if you know anything at all?"
								</h2>
								<p class="font-weight-normal mb-5">
								</p>
						</div>
						</section>
				</div>

				<footer>
					<ul>
						<li><a href="mailto:zackchen@umich.edu">email: zackchen@umich.edu</a></li>
						<li><a href="https://github.com/thuthazack">github.com/thuthazack</a></li>
					<li><a href="https://www.linkedin.com/in/thuta-aung-909a22114">linkedin</a></li>
					</ul>
				</footer>
			</body>
		
	</html>
