<!DOCTYPE html>
	<html lang="en">
		
		<div >
		<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<title>
				{{ page.title }}
				
			</title>
			
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			<link rel="stylesheet" type="text/css" href="/css/main.css">

		</head>
		<body bgcolor="#404040">
			<nav class = "topnav-right">  
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<center>
				{{ content }}
			</center> 
			<img class="profilepic img-fluid rounded" src="img/pfp.jpeg" height = "300" width = "400">
			</div><!-- /.container -->

  
		<!-- About -->
		<div class = "container-fluid">
		<section>
		  <div style="background-color:black;color:white;padding:100px;">
				<h2>About me</h2>
				<p class="font-weight-normal mb-5">
					Say something nice hereSay somethign nice here
					Say something nice hereSay somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say something nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
					Say somethign nice hereSay somethign nice here
				</p>
		  </div>
		</section>
	</div>
	<div class = "container-fluid">
		<section>
				<div style="background-color:orange;color:white;padding:20px;">
				<h2>Smart Sensor Interface </h2>
					<p>
						
					</p>
				</div>
		</section>
	</div>
		<div class = "container-fluid">
		<section>
			<div style="background-color:black;color:white;padding:20px;">
			<h2>Fine Spine Align All the Time</h2>
				<p>
				</p>
			</div>
	</section>
	</div>
	<div class = "container-fluid">
	<section>
		<div style="background-color:orange;color:white;padding:20px;">
		<h2>Check out what I have built!</h2>
			<p>
				Say about something inside here
			</p>
		<h2>Check out what I have built!</h2>
			<p>
				Do you know that I am not fucking kidding
			</p>
		<h2>Check out what I have built!</h2>
		</div>
	</section>
	</div>

	<div class = "container-fluid">
		<section>
			<div style="background-color:black;color:white;padding:20px;">
			<h2>Check out what I have built!</h2>
				<p>
					Say about something inside here
				</p>
			<h2>Check out what I have built!</h2>
				<p>
					Do you know that I am not fucking kidding
				</p>
			<h2>Check out what I have built!</h2>
			</div>
	</section>
	</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:zackchen@umich.edu">email: zackchen@umich.edu</a></li>
	        		<li><a href="https://github.com/thuthazack">github.com/thuthazack</a></li>
				<li><a href="https://www.linkedin.com/in/thuta-aung-909a22114">linkedin</a></li>
				</ul>
			</footer>
		</body>
		</div>
	</html>
